<!DOCTYPE html>
<html lang="en">
<div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8" style="background: rgba(255,255,255,0.8);padding: 10px ">
                <h1>
                    Update Address
                </h1>
                  <app-update-address-form [id]='id' (onUpdateAddress)="updateAddress($event)"></app-update-address-form>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</html>
